.button {
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.15s ease-in-out;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  border: 1px solid transparent;
  background-color: transparent;
  display: flex;
  justify-content: center;
  gap: 0 5px;

  // &--add {
  //   color: #fff;
  //   border-color: #46c91e;

  //   &:hover {
  //     border-color: darken(#46c91e, 5%);
  //   }

  //   &:active {
  //     border-color: darken(#46c91e, 10%);
  //   }
  // }

  // &--cancel {
  //   color: #fff;
  //   border-color: #cf443a;

  //   &:hover {
  //     border-color: darken(#cf443a, 5%);
  //   }

  //   &:active {
  //     border-color: darken(#cf443a, 10%);
  //   }
  // }

  // &--black {
  //   color: #fff;
  //   border-color: #333;

  //   &:hover {
  //     border-color: darken(#333, 5%);
  //   }

  //   &:active {
  //     border-color: darken(#333, 10%);
  //   }
  // }

  &--dark {
    color: #ede1d8;
    border-color: #ede1d8;

    &:hover {
      border-color: lighten(#ede1d8, 20%);
      color: lighten(#ede1d8, 20%);
    }

    &:active {
      border-color: lighten(#ede1d8, 25%);
    }
  }

  &--light {
    color: #695852;
    border-color: #695852;

    &:hover {
      border: 1px solid transparent;
      background-color: #695852;
      color: lighten(#ede1d8, 20%);
    }

    &:active {
      background-color: darken(#695852, 10%);
    }
  }

  &--dark-secondary {
    color: #d6c8bc;
    border-color: #d6c8bc;

    &:hover {
      border-color: darken(#d6c8bc, 20%);
      // color: darken(#d6c8bc, 20%);
      color: lighten(#ede1d8, 20%);
    }

    &:active {
      border-color: darken(#d6c8bc, 25%);
    }
  }
}
