.input {
  max-width: 350px;
  width: 100%;
  padding: 10px 20px;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 400;
  outline: none;
  border: none;
  background-color: transparent;

  &--dark-outlined {
    border: 1px solid darken(#ede1d8, 15%);
    border-radius: 5px;

    &:focus {
      border-color: darken(#ede1d8, 25%);
    }
  }

  &--dark-bordered {
    border-bottom: 1px solid #ede1d8;
    &:focus {
      border-color: darken(#ede1d8, 15%);
    }
  }

  &::placeholder {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #333;
  }
}
