.admin__users-item {
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 20px;

  &-name {
    width: 150px;
    font-size: 16px;
    font-weight: 500;
  }

  &-email,
  &-password,
  &-role {
    width: 150px;
    font-weight: 16px;
    color: #6e5320;

    span {
      font-weight: 500;
      color: #000;
    }
  }

  &-buttons {
    display: flex;
    align-items: center;
    gap: 0 20px;
  }
}
