*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  background-color: #f3ebe5;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

// registration

.registration {
  min-height: calc(100vh - 169px);
  padding-top: 50px;
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__form {
    width: 360px;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px 0;

    &-error {
      padding: 10px;
      background-color: rgba(252, 0, 0, 0.3);
      border-radius: 5px;
      color: #ac2d2d;
      text-align: center;
    }

    &-success {
      padding: 10px;
      background-color: rgba(28, 131, 24, 0.3);
      border-radius: 5px;
      color: #116d11;
      text-align: center;
    }
  }
}

//authorization

.authorization {
  min-height: calc(100vh - 169px);
  padding-top: 50px;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__form {
    width: 360px;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px 0;

    &-error {
      padding: 10px;
      background-color: rgba(252, 0, 0, 0.3);
      border-radius: 5px;
      color: #ac2d2d;
      text-align: center;
    }

    &-success {
      padding: 10px;
      background-color: rgba(28, 131, 24, 0.3);
      border-radius: 5px;
      color: #116d11;
      text-align: center;
    }
  }
}

// sidebar

.main__wrapper {
  display: flex;
}

.main__content {
  padding-bottom: 50px;
  flex: 1;
  width: 100%;
}

.main__sidebar {
  min-height: calc(100vh - 169px);
  display: block;
  width: 280px;
  padding: 20px;
  background-color: #e7d7d0;
  font-family: "Montserrat", sans-serif;

  &-list {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
    list-style: none;

    li a {
      display: block;
      padding: 20px;
      text-decoration: none;
      font-size: 16px;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      text-transform: uppercase;
      color: #6e5320;
      transition: 0.15s ease-in-out;
      border: 2px solid transparent;

      &:hover {
        margin: 10px;
        padding: 10px;
        color: darken(#6e5320, 10%);
        border: 2px solid darken(#ede1d8, 15%);
      }
    }
  }
}
